.pui-layout {
  min-width: 1200px;
  min-height: 100vh;
  &-header {
    background: #fff;
    padding: 0;
  }
  &-sider {
    background: #fff;
    border-right: 1px solid #e9e9e9;
    &-tigger {
      position: absolute;
      right: -13px;
      font-size: 12px;
      top: 50%;
      border: 1px solid #e9e9e9;
      border-left: none;
      background: #fff;
      color: #ccc;
      border-radius: 0 4px 4px 0;
      cursor: pointer;
    }
  }
  &-logo {
    height: 64px;
    padding: 15px 45px 0;
    &.collapsed {
      height: 64px;
      display: inline-block;
      padding: 0 30px;
    }
    &-img {
      height: 34px;
    }
  }
}